@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@media (prefers-reduced-motion: no-preference) {
  * {
    transition-property: color, background-color, border-color, box-shadow,
      outline-color, text-decoration-color, fill, stroke;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
}
